In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

titanic_data = pd.read_csv('train.csv')

In [2]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
print("# of passengers in original data : ", len(titanic_data.index))

# of passengers in original data :  577

# Cleaning dataset for only required features

In [4]:
titanic_data["Sex"] = titanic_data.Sex.replace({"male":1, "female":0})

In [5]:
titanic_data.drop(['Name'], axis=1, inplace=True)

In [6]:
titanic_data = pd.concat([pd.Series(1, index = titanic_data.index, name = 'constant'), titanic_data], axis=1)

In [7]:
titanic_data.head()

,constant,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,1,0,3,1,22.0,1,0,7.2500
1,1,1,1,0,38.0,1,0,71.2833
2,1,1,3,0,26.0,0,0,7.9250
3,1,1,1,0,35.0,1,0,53.1000
4,1,0,3,1,35.0,0,0,8.0500

# Train Data

In [8]:
features=titanic_data.drop("Survived", axis=1)
feature_matrix = features.to_numpy()
my_output=titanic_data['Survived']
output = my_output.to_numpy()

In [13]:
def predict_outcome(feature_matrix, weights):
    z=np.dot(weights, feature_matrix.T)
    return (1/(1+np.exp(-(z))) - 0.0000001)

In [14]:
def cost(feature_matrix, output, weights):
    y1 = predict_outcome(feature_matrix, weights)
    return (-(1/len(feature_matrix)) * np.sum(output*np.log(y1) + (1-output)*np.log(1-y1)))

In [15]:
def gradient_descent(feature_matrix, output, weights, step_size, epochs):
    m = len(feature_matrix)
    J = [cost(feature_matrix, output, weights)]
    for i in range(0, epochs):
        h = predict_outcome(feature_matrix, weights)
        for i in range(0, len(feature_matrix[0])):
            weights[i] -= (step_size/m) * np.sum((h-output)*feature_matrix[:,i])
        J.append(cost(feature_matrix, output, weights))
    return (J, weights)

In [16]:
def predict(feature_matrix, output, weights, step_size, epochs):
    J, new_weights = gradient_descent(feature_matrix, output, weights, step_size, epochs)
    h = predict_outcome(feature_matrix, weights)
    for i in range(len(h)):
        h[i]=1 if h[i]>=0.5 else 0
    y = list(output)
    acc = np.sum([y[i]==h[i] for i in range(len(y))])/len(y)
    return J,acc

In [17]:
initial_weights = [0.5]*len(feature_matrix[0])
step_size = 0.001

In [18]:
J, acc = predict(feature_matrix, output, initial_weights, step_size, 20000)

In [19]:
acc

0.7885615251299827